* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui,lucida handwriting;
  line-height: 1.5;
  color: #pink;
}

header {
  padding: 3rem 1rem;
  text-align: center;
  background: #light pink;
}

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem 1rem;
  background: #lighter pink;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content:"";
  display: table;
  clear:both;
  
header {
  padding: 3rem 1rem;
  text-align: center;
  background: #light pink;
}
  
footer {
  text-align: center;
  padding: 1rem;
  color: #light pink;
  font-size: 0.9rem;
}
